{{ template "layout_head" . }}


  
<h1>{{ .title }}</h1>

<form method="GET" action="/pokemons" style="margin-bottom:15px;">
    <label>Type:
        <input type="text" name="type" value="{{ .type }}">
    </label>
    <label style="margin-left:10px;">Min HP:
        <input type="number" name="minLevel" value="{{ .minLevel }}">
    </label>
    <button type="submit">Filtrer</button>
</form>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Sprite</th>
            <th>Nom</th>
            <th>Types</th>
            <th>Base XP</th>
            <th>Power</th>
        </tr>
    </thead>
    <tbody>
    {{ range .pokemons }}
        <tr>
            <td>{{ .ID }}</td>
            <td><img src="{{ .Sprites.FrontDefault }}" alt="{{ .Name }}" width="48"></td>
            <td><a href="/pokemons/{{ .ID }}">{{ .Name }}</a></td>
            <td>
                {{ range .Types }}
                    <span class="type-badge">{{ . }}</span>
                {{ end }}
            </td>
            <td>{{ .BaseExperience }}</td>
            <td>{{ .Power }}</td>
        </tr>
    {{ end }}
    </tbody>
</table>

{{ template "layout_tail" . }}